---
version: '3'
services:

# START SERVICE kafka_rest.base
  kafka_rest:
    image: ${CONTECO_REGISTRY}${CONTECO_REALM_RUNTIME}/conteco.kafka_rest.base:5.4.0
    environment: ['KAFKA_REST_HOST_NAME=kafka_rest','KAFKA_REST_BOOTSTRAP_SERVERS=kafka:9092','KAFKA_REST_LISTENERS=http://0.0.0.0:8082','KAFKA_REST_SCHEMA_REGISTRY_URL=http://schema_registry:8081']
    command: []
    volumes: []
    ports: [${CONTECO_DC_KAFKA_REST_PORTS}]
    networks: [${CONTECO_NETWORKLOCAL}_overlay]
    deploy:
      mode: ${CONTECO_DC_KAFKA_REST_DEPLOY_MODE}
      resources:
        limits:
          cpus: '${CONTECO_DC_KAFKA_REST_DEPLOY_RESOURCES_LIMITS_CPUS}'
          memory: '${CONTECO_DC_KAFKA_REST_DEPLOY_RESOURCES_LIMITS_MEMORY}'
        reservations:
          cpus: '${CONTECO_DC_KAFKA_REST_DEPLOY_RESOURCES_RESERVATIONS_CPUS}'
          memory: '${CONTECO_DC_KAFKA_REST_DEPLOY_RESOURCES_RESERVATIONS_MEMORY}'
      placement:
        constraints: [${CONTECO_DC_KAFKA_REST_DEPLOY_PLACEMENT_CONSTRAINTS}]
      ${CONTECO_DC_BASH_DEPLOY_EXTENSIONS}
    ${CONTECO_DC_BASH_SERVICE_EXTENSIONS}
# END SERVICE kafka_rest.base

networks: {${CONTECO_NETWORKLOCAL}_overlay: { external: true }}
volumes: {}
${CONTECO_DC_BASH_GLOBAL_EXTENSIONS}
